body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: left; /* Align text to the left in the header */
}
header h1 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; /* Change the font style */
}
section {
    margin: 2em 0;
    padding: 0 1em;
    text-align: left; /* Align text to the left in sections */
}
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
}
