body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body, html {
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 0.1em 0;
    text-align: center;
    margin-bottom: 0;
}
.header-link {
    color: white !important; /* Make the links white and ensure the style is applied */
    text-decoration: underline; /* Underline the links */
}

.header-link:hover {
    color: #ccc; /* Change color on hover for better visibility */
}

header nav {
    background-color: #333; /* Ensure nav background matches header */
    margin-top: 0; 
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

header h1 {
    margin: 0;
    /* font-family: 'Source Sans Pro', sans-serif;  */
    text-align: center;
}
section {
    margin: 1em 0; /* Reduced top and bottom margin */
    padding: 0 1em 0 2em; /* Add padding to the left */
    text-align: left; /* Align text to the left in sections */
}
.container {
    padding-left: 2em; /* Add padding to the left */
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.navbar li {
    display: inline;
    padding: 0.5em 1em;
}

.navbar li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
}

.navbar li a:hover {
    background-color: #575757;
    color: white;
}

.navbar li a:focus, .navbar li a:active {
    background-color: #111;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
}
